# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Model files
*.pth
*.h5
*.pt

# Data files
*.csv
*.json
*.gz
*.zip
*.idx*

# Media
*.jpg
*.png

# System files
.DS_Store
Thumbs.db
desktop.ini
